<div class="footer">
    <div class="footer-thongtin">
        <div class="footer-row1">
            <div class="footer-row1-0">
                <h4>Về TOFRUIT</h4>
            </div>
            <div class="footer-row1-1">
                <p>TOFRUIT là thương hiệu trái cây<br>
                    tươi chất lượng cao, với đa dạng sản<br>
                    phẩm phục vụ mọi nhu cầu: đặc sản<br>
                    vùng miền, trái cây nhập khẩu, quà<br>
                    tặng trái cây, mâm ngũ quả, nước ép,<br>
                    và trái cây sấy.</p>
                <div class="footer-row1-2">
                    <span><b>Chi nhánh 1:</b> Quận 12</span>
                    <p><b>Chi nhánh 2:</b> Quận 21</p>
                    <p><b>Điện thoại:</b> 123456789</p>
                    <p><b>Email:</b> nhanttps40174gmail.com</p>
                </div>
            </div>   
        </div>
        <div class="footer-row2">
            <div class="footer-row2-0">
                <h4>Hỗ trợ khách hàng</h4>
            </div>
            <div class="footer-row2-1">
                <ul>
                    <li><a href="">Chính sách bảo hành</a></li>
                    <li class="row2-1-1"><a href="">Chính sách giao hàng</a></li>
                    <li class="row2-1-1"><a href="">Chính sách thanh toán</a></li>
                    <li class="row2-1-1"><a href="">Chính sách bảo mật</a></li>
                </ul>
            </div>
            
        </div>
        <div class="footer-row3">
            <div class="footer-row3-1">
                <h4> Chăm sóc khách hàng</h4>
            </div>
            <div class="footer-row3-2">
                <div class="footer-row3-2-0">
                    <i class="fa-solid fa-phone"></i> 
                </div>
                <div class="footer-row3-2-1">
                    <span>123456789</span>
                </div>
            </div>
            <div class="footer-row3-3">
                <span><a href="">nhanttps40174gmail.com</a></span>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <p>Copyright © 2024 TOFRUIT - Trái Cây Chất Lượng Cao</p>
    </div>
</div>